// select{
//     width: 15rem;
// }

// input{
//     width: 15rem;
// }

// .car-bmv{
//     display: flex;
// }

// .car-bmv-title{
//     width: 18rem;
// }

// .car-bmv-model{
//     margin: 0rem 3rem;
// }

// .car-my{
//     display: flex;
// }

// .car-my-title{
//     margin: 0rem 9rem 0rem 0rem;
// }

// .car-my-month{
//     margin: 0rem 3rem 0rem 0rem;
// }

// .car-owner{
//     display: flex;
// }

// .car-owner-title{
//     margin: 0rem 11.3rem 0rem 0rem;
// }

// .car-color{
//     display: flex;
// }

// .car-color-title{
//     margin: 0rem 11.8rem 0rem 0rem;
// }

// .car-km{
//     display: flex;
// }

// .car-km-title{
//     margin: 0rem 10.5rem 0rem 0rem;
// }

// .car-city{
//     display: flex;
// }

// .car-city-title{
//     margin: 0rem 12.8rem 0rem 0rem;

// }

// .car-rno{
//     display: flex;
// }

// .car-rno-title{
//     margin: 0rem 6.5rem 0rem 0rem;
// }

// .car-rat{
//     display: flex;
// }

// .car-rat-title{
//     margin: 0rem 7.3rem 0rem 0rem;
// }

// .car-tax{
//     display: flex;
// }

// .car-tax-title{
//     margin: 0rem 1rem 0rem 0rem;
// }

// .car-insurance{
//     display: flex;
// }

// .car-insurance-title{
//     margin: 0rem 1rem 0rem 0rem;
// }

// .car-ivt{
//     display: flex;
// }

// .car-ivt-title{
//     margin: 0rem 5rem 0rem 0rem;
// }

// .car-ep{
//     display: flex;
// }

// .car-ep-title{
//     margin: 0rem 5.3rem 0rem 0rem;
// }

// .car-accidentail{
//     display: flex;
// }

// .car-accidentail-title{
//     margin: 0rem 0rem 0rem 0rem;
// }

// .car-fc{
//     display: flex;
// }

// .car-fc-title{
//     margin: 0rem 0rem 0rem 0rem;
// }

// .ifcontainer-sub{
//     display: flex;
// }


// .car-condition-heading{
//     display: flex;
//     margin: 1rem 2rem;
// }

// .car-condition-title{
//     margin: 0rem 4rem;
// }

// .ac-div{
//     display: flex;
//     margin: 0rem 0rem 1rem 3rem;
// }

// .bc-div{
//     display: flex;
//     margin: 0rem 0rem 1rem 3rem;
// }

// .brakesc-div{
//     display: flex;
//     margin: 0rem 0rem 1rem 3rem;
// }

// .care-div{
//     display: flex;
//     margin: 0rem 0rem 1rem 3rem;
// }

// .carengine-div{
//     display: flex;
//     margin: 0rem 0rem 1rem 3rem;
// }

// .seatc-div{
//     display: flex;
//     margin: 0rem 0rem 1rem 3rem;
// }

// .sun-div{
//     display: flex;
//     margin: 0rem 0rem 1rem 3rem;
// }

// .tyresc-div{
//     display: flex;
//     margin: 0rem 0rem 1rem 3rem;
// }


// .interc-div{
//     display: flex;
//     margin: 0rem 0rem 1rem 3rem;
// }

// .extc-div{
//     display: flex;
//     margin: 0rem 0rem 1rem 3rem;
// }

// .oacc-div{
//     display: flex;
//     margin: 0rem 0rem 1rem 3rem;
// }

// .ai-div{
//     display: flex;
//     margin: 2rem 0rem;
// }

// .ai-div-sub{
//     width: 20rem;
//     margin: 0rem 10rem 0rem 0rem;
// }

// .ci-div{
//     display: flex;
//     margin: 1rem 0rem;
// }

// .ci-div-sub{
//     // margin: 0rem 20rem 0rem 0rem;
    
//     width: 20rem;

// }

// .subbtn-div{
//     margin: 5rem 0rem;
// }

// .submitBtn{
//     width: 13rem;
//     height: 2.3rem;
//     background: #5b2067;
//     color: white;
//     border: none;
//     border-radius: 5px;
// }

// .radioinputs{
//     width: 15px;
// }

// .radiolabel{
//     margin: 0rem 2rem;
// }

// .checkboxinputs{
//     width: 15px;
// }

// .cc-checkbox{
//     margin: 0rem 2rem;
// }

// .cctitles{
//     width: 15rem;
// }

// .ccinputs{
//     width: 1rem;
//     margin-left: 10rem;
// }

// //29-09-2022
// .sc-cd-title{
//     margin: 1rem 0rem;
// }

// #tbspace{
//     margin: 1rem 0rem;
// }

// .if-title{
//     margin: 1.5rem 0rem;
// }

// .iftext{
//     width: 18rem;
//     height: 2.3rem;
//     background: #5b2067;
//     color: white;
//     display: flex;
//     justify-content: center;
//     align-items: center;
    
//     margin: 0rem 0rem 1rem 0rem;
  
// }

// .ifcheckbox{
//     margin: 0rem 0rem 0.5rem 0rem;
// }

// .car-condition-top-title{
//     margin: 1rem 0rem;
// }

// .sstext{
//     width: 20rem;
//     height: 2.3rem;
//     background: #5b2067;
//     color: white;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .ssradiobtn{
//     width: 10rem;
//     height: 2.3rem;
//     background: #5b2067;
//     color: white;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 0rem 0rem 0rem 1rem;
// }


// .ai-div-title{
//     margin: 2rem 0rem;
// }

// .ci-div-title{
//     margin: 2rem 0rem;
// }

// .mobileno{
//     height: 2rem;
// }


// //latest review
// .lr-title{
//     color: #5b2067;
//     text-align: center;
// }

// .lr-hr-line{
//     width: 8rem;
// }

// .lr-card-div{
//     margin: 1rem 0rem;
// }

// .lr-model{
//     margin: 2rem 0rem 0rem 0rem;
//     text-transform: capitalize; 
// }

// .lr-rating{
//     font-size: 25px;
//     color: #ff9800;
// }

// .lr-description-main{
//     height: 11rem;
//     margin: 2rem 0rem;
// }

// .lr-description{
//     font-style: italic;
// }

// .lr-static-text{
//     color: #5b2067;
// }

// .lr-readmore{
//     font-weight: 500; 
//     font-size: larger;  
//     color: #5b2067;
// }

// .lr-container{
//     margin: 3rem 0rem;
// }

// .socialcard-container{
//     // border: none;
//     display: flex;
//     // border: 1px solid black;
//     justify-content: center;
//     padding: 1rem 2rem;

//     // border: 1px solid;
//     padding: 10px;
//     box-shadow: 0px 0px 12px #c3c3c3;
// }
// .socialcards{
//     display: flex;
//     width: 15rem;
//     margin: 0rem 1rem;
// }

// .socialcards-img{
//     margin-right: 10px;
// }
// .socialcards-texts{
//     margin-top: 1rem;
// }

// //sell car model
// .username{
//     text-align: center;
//     margin: 3rem 0rem 0rem 0rem;
 


.usernametext{
    text-transform: uppercase;
    color: #5b2067;
}

// .usernamesubtext{

// }

.usercarimg{
    display: flex;
    justify-content: center;
}

.carimg{
    height: 100%;
    width: 100%;
}

.userthanksmsg{
    text-align: center;
    margin: 3rem 0rem 0rem 0rem;
}

.thanksmsg{
    color: #5b2067;
}

.thanksmsgline{
    width: 25rem;
}

.cardetailstitle{
    text-transform: uppercase;
    color: #5b2067;
}


.cardservicetitle{
    color: #5b2067;    
}

.backtohomebtn{
    display: flex;
    justify-content: center;
}

.bthbtn{
    background-color: #5b2067;
    color: white;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: 10rem;
}

.closebtn{
    display: flex;
    justify-content: end;
    font-size: 2rem;
}

.closecrossbtn{
    width: 2rem;
    height: 2rem;
    border: none;
    background: white;
    outline: none;

    
}



@media (min-width: 200px) and (max-width: 1000px) {

    #car-accidentail-id{
        margin: -1rem 2rem;
    }

    #flood-affected-id{
        margin: -1rem 2rem;
    }
    
    .oacc-div{
        display: flex;
        margin: 0rem 0rem 1rem 0rem;
    }

    .extc-div{
        display: flex;
        margin: 0rem 0rem 1rem 0rem;
    }

    .interc-div{
        display: flex;
        margin: 0rem 0rem 1rem 0rem;
    }

    .tyresc-div{
        display: flex;
        margin: 0rem 0rem 1rem 0rem;
    }

    .sun-div{
        display: flex;
        margin: 0rem 0rem 1rem 0rem;
    }

    .seatc-div{
        display: flex;
        margin: 0rem 0rem 1rem 0rem;
    }

    .carengine-div{
        display: flex;
        margin: 0rem 0rem 1rem 0rem;
    }

    .care-div{
        display: flex;
        margin: 0rem 0rem 1rem 0rem;
    }

    .brakesc-div{
        display: flex;
        margin: 0rem 0rem 1rem 0rem;
    }

    .bc-div{
        display: flex;
        margin: 0rem 0rem 1rem 0rem;
    }



    .ac-div{
        display: flex;
        margin: 0rem 0rem 1rem 0rem;
    }

    .car-condition-heading{
        display: flex;
        margin: 1rem 0rem;
    }
    

    .additionalinfotextbox{
        width: 100%;
    }


    .cctitles{
        font-size: 10px;
        width: 3rem;
    }

    .ccinputs{
        width: 1rem;
        margin-left: 2rem;
    }


    .sstext{
        width: 3rem;
        height: 2.3rem;
        background: #5b2067;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .car-condition-title{
        font-size: x-small;
    }


    .ssradiobtn{
        width: 3rem;
        height: 2.3rem;
        background: #5b2067;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0rem 0rem 0rem 0.3rem;
    }

    .cc-checkbox{
        margin: 0rem 0rem;
    }

    .ciinputlabels{
        display: grid;
    }

    .lttinputlabels{
        display: grid;
    }

    .radiolabel{
        margin: -1rem 3rem;
    }

    #tbspace{
        display: block;
    }

    .car-bmv-model{
        margin: 0rem 0rem;
    }



    .ifcontainer-sub{
        display: block;
    }


    .ai-div{
        display: block;
        margin: 2rem 0rem;
    }
    
    .ai-div-sub{
        width: 10rem;
        margin: 0rem 5rem 0rem 0rem;
    }



    .socialcard-container{
        // border: none;
        display: block;
        // border: 1px solid black;
        justify-content: center;
        padding: 1rem 2rem;
    
        // border: 1px solid;
        padding: 10px;
        box-shadow: 0px 0px 12px #c3c3c3;
    }

    
 }
// }

// .usernametext{
//     text-transform: uppercase;
//     color: #5b2067;
// }



// .usercarimg{
//     display: flex;
//     justify-content: center;
// }

// .carimg{
//     height: 20rem;
//     width: 36rem;
// }

// .userthanksmsg{
//     text-align: center;
//     margin: 3rem 0rem 0rem 0rem;
// }

// .thanksmsg{
//     color: #5b2067;
// }

// .thanksmsgline{
//     width: 25rem;
// }

// .cardetailstitle{
//     text-transform: uppercase;
//     color: #5b2067;
// }


// .cardservicetitle{
//     color: #5b2067;    
// }

// .backtohomebtn{
//     display: flex;
//     justify-content: center;
// }

// .bthbtn{
//     background-color: #5b2067;
//     color: white;
//     border: none;
//     border-radius: 5px;
//     height: 3rem;
//     width: 10rem;
// }

// .closebtn{
//     display: flex;
//     justify-content: end;
//     font-size: 2rem;
// }

// .closecrossbtn{
//     width: 2rem;
//     height: 2rem;
//     border: none;
//     background: white;
//     outline: none;

    
// }
