<section class="more-car">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <h5 class="heading">MORE CAR OPTIONS TO CONSIDER</h5>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="card">
                            <img src="../../../assets/swift.jpg" alt="">
                            <h6>Hatchback Cars</h6>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="card">
                            <img src="../../../assets/swift.webp" alt="">
                            <h6>Cars Between 3 to 6 Lakh</h6>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="card">
                            <img src="../../../assets/swift.jpg" alt="">
                            <h6>Upcoming Hatchback Cars</h6>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="card">
                            <img src="../../../assets/swift.webp" alt="">
                            <h6>Best Mileage Cars</h6>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>