<div class="container">
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li><i class="fas fa-chevron-right"></i></li>
      <li class="breadcrumb-item active" aria-current="page"> careers</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col">
      <h5> CAREERS AT AUTODEAL </h5>
      <h4> Be Part of Something Amazing </h4>
      <p class="a"> We’re true believers in the power of the web and how it connects people to content. You want to use
        your
        talents for something big. You want the chance to make a difference, everyday. You want to be part of
        something that everyone’s talking about. And you wouldn’t mind having lots of fun along the way with
        people as
        driven and excited as you.</p>
      <p class="b"> If you’re looking to accelerate your career, we’d love to talk to you. Feel Free to submit your CV
        at
        talent@autodeal.com</p>
      <h6><b>Front-End Developer</b> </h6>
    
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-md-3 ">
      <b> Title </b>
    </div>

    <div class="col-sm-8 col-md-9 ">
      : Front-End Developer
    </div>

    <div class="col-sm-4 col-md-3 ">
      <b>Role Summary</b>
    </div>
    <div class="col-sm-8 col-md-9 ">
      : Create High performance and reusable functionality for web and mobile websites.<br>
    </div>

    <div class="col-sm-4 col-md-3 ">
      <b>Role Requirement</b>
    </div>
    <div class="col-sm-8 col-md-9 ">
      : Graduate (any stream) with 1-4 years of experience in Front-End development. <br>
    </div>

    <div class="col-sm-4 col-md-3 ">
      <b>Critical Skills Required </b>
    </div>

    <div class="col-sm-8 col-md-9 ">
      : Strong knowledge of HTML, CSS, Javascript and J-query.<br>
    </div>

    <div class="col-sm-4 col-md-3 ">
      <b>Preferred Skills </b>
    </div>
    <div class="col-sm-8 col-md-9 ">
      : React.JS <br>
    </div>

    <div class="col-sm-4 col-md-3 ">
      <b>Job Location</b>
    </div>
    <div class="col-sm-8 col-md-9 ">
      : Mumbai, Maharashtra<br>
    </div>
    <div class="col-sm-4 col-md-3 ">
      <b> No. of Position </b>
    </div>
    <div class="col-sm-8 col-md-9 ">
      : 5<br>
    </div>
  </div>




  <h6><b>Front-End Developer</b> </h6>

  <div class="row">
    <div class="col-sm-4 col-md-3 ">
      <b>Job Title</b>
    </div>

    <div class="col-sm-8 col-md-9 ">
      : Front-End Developer
    </div>

    <div class="col-sm-4 col-md-3 ">
      <b>Role Summary</b>
    </div>
    <div class="col-sm-8 col-md-9 ">
      : Create High performance and reusable functionality for web and mobile websites.<br>
    </div>

    <div class="col-sm-4 col-md-3 ">
      <b>Role Requirement</b>
    </div>
    <div class="col-sm-8 col-md-9 ">
      : Graduate (any stream) with 1-4 years of experience in Front-End development. <br>
    </div>

    <div class="col-sm-4 col-md-3 ">
      <b>Critical Skills Required </b>
    </div>

    <div class="col-sm-8 col-md-9 ">
      : Strong knowledge of HTML, CSS, Javascript and J-query.<br>
    </div>

    <div class="col-sm-4 col-md-3 ">
      <b>Preferred Skills </b>
    </div>
    <div class="col-sm-8 col-md-9 ">
      : React.JS <br>
    </div>

    <div class="col-sm-4 col-md-3 ">
      <b>Job Location</b>
    </div>
    <div class="col-sm-8 col-md-9 ">
      : Mumbai, Maharashtra<br>
    </div>
    <div class="col-sm-4 col-md-3 ">
      <b> No. of Position </b>
    </div>
    <div class="col-sm-8 col-md-9 ">
      : 5<br>
    </div>
  </div>



  <h6><b>Front-End Developer</b> </h6>

  <div class="row">
    <div class="col-sm-4 col-md-3 ">
      <b>Job Title</b>
    </div>

    <div class="col-sm-8 col-md-9 ">
      : Front-End Developer
    </div>

    <div class="col-sm-4 col-md-3 ">
      <b>Role Summary</b>
    </div>
    <div class="col-sm-8 col-md-9 ">
      : Create High performance and reusable functionality for web and mobile websites.<br>
    </div>

    <div class="col-sm-4 col-md-3 ">
      <b>Role Requirement</b>
    </div>
    <div class="col-sm-8 col-md-9 ">
      : Graduate (any stream) with 1-4 years of experience in Front-End development. <br>
    </div>

    <div class="col-sm-4 col-md-3 ">
      <b>Critical Skills Required </b>
    </div>

    <div class="col-sm-8 col-md-9 ">
      : Strong knowledge of HTML, CSS, Javascript and J-query.<br>
    </div>

    <div class="col-sm-4 col-md-3 ">
      <b>Preferred Skills </b>
    </div>
    <div class="col-sm-8 col-md-9 ">
      : React.JS <br>
    </div>

    <div class="col-sm-4 col-md-3 ">
      <b>Job Location</b>
    </div>
    <div class="col-sm-8 col-md-9 ">
      : Mumbai, Maharashtra<br>
    </div>
    <div class="col-sm-4 col-md-3 ">
      <b> No. of Position </b>
    </div>
    <div class="col-sm-8 col-md-9 ">
      : 5<br>
    </div>
  </div>
</div>