b{
    margin: 15px;
    color: #474747;
}
.breadcrumb{
    background-color:white;
    margin-left: -1rem;
}
h4{ 
     
    color: #474747;
    font-weight: bold; 
}
h3{
   margin: 30px;
    color: #474747;
}
h5{
    color:#5B2067
}
b{
    margin: 50px;
    margin-right: 10px;
}
p{ 
    margin: 15px;
    margin-right: 100px;
}
 h6{
    background-color:#EFEFEF;
    font-weight: bold;
 }
a{
    color: #474747;
    font-size: 15px;
    font-weight: bold;
 }

 div class{
  line-height: 200%;
}
b{
    line-height: 200%;  
}
.fa-chevron-right{
    font-size: small;
}
p.a {
    padding-left: 30px ;
    color: #474747;
  }
  p.b{
      padding-left: 30px;
      color: #474747;
  }
  li{
      padding-left: -15px;

 }
