.example-tab-icon {
    margin-right: 8px;
}

.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-active {
    background-color: transparent;
    color: white;
    font-weight: 700;
}

.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple {
    background-color: transparent;
    color: white;
    font-weight: 700;
}

.cursor {
    cursor: pointer;
}

hr {
    margin-top: 0rem;
    border-top: 2px solid #5b2067;
    width: 70px;
}


.color {
    color: #5b2067;
}

.sbbf-main{
    margin-top: 1rem;
}

#sbfimg{
    width: 55%;
}