.fixedsidenav {
    position: sticky !important;
    top     : 0 !important;
}

.fixheader {
    position: sticky !important;
    top     : 0 !important;
    z-index : 999;
    background: white !important;
}