.btn {
    color           : #fff;
    padding         : 5px 25px;
    font-size       : 15px;
    box-shadow      : 0px 3px 5px 0px #a7a7a780;

    background-color: #FF8F10;
}

.color {
    color: #5b2067;
}

.modal-header .close{
    margin: 0 !important;
}

.icon{
    color: white;
    font-size: 35px;
    display: block;
    text-align: center;
    padding: 10px 0px;
}

.icon1{
    color: #5b2067;
    font-size: 35px;
    float: right;
    padding: 10px 0px;
}