.bannerslidestwo{
    margin: 1rem 0rem;
    padding: 20px 50px;
}

#cccard{
    margin: 1rem 0rem;
}

#cccardimg{
    height: 28rem;
    width: 18rem;
    border-radius: 15px;
}

#cccardtext{
    margin: -89px 0px 0px 28px;
    font-size: x-large;
    font-weight: 600;
    color: white;
}

.div-grid{
    display: inline;
}

.bannerslidesthree{
    margin: 1rem 3rem;
}

.bannerslidesthreeimg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -6rem 0rem 1rem 0rem;
    border-radius: 5%;
}

.bannerslidesthreeimgtag{
    width: 100%;
    border-radius: 5%;
}

.bannerslidesthreetext{
    padding: 0rem 0.2rem;
}

.bannerslidesthreetitle{
    font-size: x-large;
    font-weight: 600;
}

.bannerslidesthreedescription{
    font-weight: 300;
}

.bannerslidesthreehr{

}

.bannerslidesthreerm{
    font-weight: 600;
}

.bannerslidesthreecredit{
    font-weight: 300;
    color: rgb(43, 43, 43);
}

.bannerslidesthreebottomline{
    width: 99%;
    background: #ff8f10;
    height: 5px;
}



.example-tab-icon {
    margin-right: 8px;
}

.images{
    height: 170px;
    width: 100%;
}

.slick-slide {
    width     : 278px !important;
    box-sizing: border-box;
}
.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-active {
    background-color: transparent;
    color           : white;
    font-weight     : 700;
}

.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple {
    background-color: transparent;
    color           : white;
    font-weight     : 700;
}

hr {
    margin-top: 0rem;
    border-top: 2px solid #5b2067;
    width     : 210px;
}

.color {
    color: #5b2067;
}

.btn1 {
    background: #ff8f10;
    font-size : 10px;
    color     : white;
}

.card-body {
    padding: 10px !important;

    .card-title {
        margin: 0px;
    }

    h6 {
        margin: 0px;
    }
}

.cc-slides{
    margin-top: 35px;
}

#ccdetailsbtn{
    width: 50%;
    height: 30px;
    font-size: 14px;
}

#cccard{
    margin: 1rem 0rem;
}
