hr {
    margin-top: 0rem;
    border-top: 2px solid #5b2067;
    width     : 120px;
}

.color {
    color: #5b2067;
}

.list {
    font-weight: 500 !important;
    font-size  : 17px !important;
}

.cursor{
    cursor: pointer;
}