

<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">AboutUs</li>
    </ol>
  </nav>
  
  <div>
    <img src="../../assets/about-us/banner.PNG" alt="img 1" class="img-fluid caro" class="abouus-banner">
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h6 class="para">ABOUT US</h6>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12 ">
    <p>Part of Autodeal, Autodeal mission is to bring delight in car buying, we offer a bouquet of reliable tools and
      services to help car consumers decide on buying the right car, at the right price and from the right partner.
    </p>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12">
    <h6 class="para">OUR GROUP</h6>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <p>Since 2008, Autodeal has been part of Autodeal. Our various brands are shown below.</p>
  </div>


  <div class="">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="ourGroupItem ">
          <div class="card">
            <div class="card-body" style=" box-shadow: 0px 2px 4px 0px #5c5c5c80;">
              <img src="../../assets/vacation.jpg" alt="img 1" class="img-fluid caro">
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="ourGroupItem">
          <div class="card">
            <div class="card-body"  style=" box-shadow: 0px 2px 4px 0px #5c5c5c80;">
              <img src="../../assets/Deallogo.png" alt="img 1" class="img-fluid caro">
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="ourGroupItem">
          <div class="card">
            <div class="card-body"  style=" box-shadow: 0px 2px 4px 0px #5c5c5c80;">
              <img src="../../assets/Dealtravel.jpg" alt="img 1" class="img-fluid caro">
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="ourGroupItem">
          <div class="card">
            <div class="card-body"  style=" box-shadow: 0px 2px 4px 0px #5c5c5c80;">
              <img src="../../assets/family care.png" alt="img 1" class="img-fluid caro">
            </div>
          </div>
        </div>
      </ng-template>

    </owl-carousel-o>
  </div>
      <div class="text-center">
          <button class="btn btn-primary mr-4">VIEW ALL</button>
     </div>

      <div class="col-sm-12 col-md-12 col-lg-12">
          <h6 class="para">OUR CULTURE</h6>
      </div>
  <div>
       <div class="col-sm-12 col-md-12 col-lg-12">
          <p>Over the years, we at autodeal have striven to create a fair, engaging and people          friendly workplace. We are
           always on the look-out for people who believe in putting the customer first while constantly adapting to the
        changing world and pursuing
        excellence. Sounds like you?</p>
    </div>
  </div>

  <div style="border-bottom:2rem;">

    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="ourGroupItem">
          <div class="card" style="border:none;">
            <div class="card-body">
              <img src="../../assets/about-us/hacktivateevent.PNG" alt="img 1" class="img-fluid caro" style="height:9rem;border-radius:8px;">
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="ourGroupItem">
          <div class="card" style="border:none;">
            <div class="card-body">
              <img src="../../assets/about-us/hacktivateevent.PNG" alt="img 1" class="img-fluid caro" style="height:9rem;border-radius:8px;">
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="ourGroupItem">
          <div class="card" style="border:none;">
            <div class="card-body">
              <img src="../../assets/about-us/hacktivateevent.PNG" alt="img 1" class="img-fluid caro" style="height:9rem;border-radius:8px;">
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="ourGroupItem">
          <div class="card" style="border:none;">
            <div class="card-body">
              <img src="../../assets/about-us/hacktivateevent.PNG" alt="img 1" class="img-fluid caro" style="height:9rem;border-radius:8px;">
            </div>
          </div>
        </div>
      </ng-template>

    </owl-carousel-o>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12">
    <h6 class="para">OUR GROUP’S SCALE</h6>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="card gpscale section">
        <div class="card-body">
          <h1>31.9 M</h1>
          <p>Monthly Unique Visitors</p>
          <p class="vi"> Visitors for three months ending March 2021</p>
        </div>
      </div>
    </div>


    <div class="col-sm-12 col-md-6 col-lg-6 ">
      <div class="card Scale vehicle" >
        <div class="card-body">
         <h1>7,00,000+ <br></h1> 
          <p>Vehicles Listed<br></p>
          <p class="vi">Vehicles listed for auction in FY 2021</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h6 class="para values">OUR CORE VALUES</h6>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="card Scale customer">
        <div class="card-body" >
          <h1>RESPECT<br></h1>
         <p>We respect our colleagues, customers and partners</p> 
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 ">
      <div class="card Scale agi">
        <div class="card-body">
         <h1> AGILITY <br></h1>
          <p>We are extremely open-minded and adaptable</p>
        </div>
      </div>
      <br>
      
    </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="card Scale owner">
      <div class="card-body" >
        <h1>OWNERSHIP</h1>
       <p>We take ownership of results</p> 
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-6 ">
    <div class="card Scale before">
      <div class="card-body">
       <h1> WE BEFORE</h1>
        <p>We are extremely open-minded and adaptable</p>
      </div>
    </div>
    <br>
    
  </div>
</div>
</div>