<div class="container mt-5">
    <div *ngFor="let cr of cardata">
        <swiper [config]="config">
            <ng-template swiperSlide *ngFor="let c of car_comparison">
                <div class="card shadow rounded">
                    <div class="card-body p-0">
                        <div class="row p-1">
                            <div class="col-6 pr-2 border_col">
                                <!-- <img src="{{c?.img1}}" class="img-responsive imgres" alt=""> -->
                                <!-- <p style="font-size: 12px;">{{colors}}</p> -->
                                <img class="img-responsive imgres"
                                    src="http://api.dealcars.in/{{cr?.brand}}/{{cr?.model}}/{{cr?.model}} 1.jpg"
                                    alt="{{cr?.model}}">
                                <div class="comp-details position">
                                    <p>{{cr?.price_print}}</p>
                                    <p>{{cr?.model}}</p>
                                </div>
                            </div>
                            <div class="col-6 pl-2">
                                <!-- <img src="{{c?.img2}}" class="img-responsive imgres" alt=""> -->
                                <!-- <p style="font-size: 12px;">{{c?.colors}}</p> -->
                                <img class="img-responsive imgres"
                                    src="http://api.dealcars.in/{{c?.brand}}/{{c?.model}}/{{c?.model}} 1.jpg"
                                    alt="{{c?.model}}">
                                <div class="comp-details">
                                    <p>{{c?.price_print}}</p>
                                    <p>{{c?.model}}</p>
                                </div>
                            </div>
                        </div>
                        <div style="position: relative;top: -70px" class="text-center">
                            <small class="border rounded-circle px-1 bg-light">vs</small>
                        </div>
                        <div style="cursor: pointer;" class="text-center m-0 w-100">
                            <h6 class="comp-text" (click)="comparebothcars(cr,c)">{{cr?.model}} vs {{c?.model}}</h6>
                        </div>
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>
    <div class="container">
        <app-offers></app-offers>
    </div>

    <div class="container mt-5">
        <app-newssection></app-newssection>
    </div>
</div>