<div>
    <h5 class="color text-center font-weight-bold mt-5">5 OFFERS AVAILABLE</h5>
    <hr style="width: 130px !important;">
    <div class="mt-2">
        <swiper [config]="config1">
            <ng-template swiperSlide *ngFor="let  o of Offers">
                <div class="card shadow" style="height: 300px;">
                    <div class="offerimg">
                        <img src="{{o?.img}}" class="card-img-top w-50 d-block m-auto" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <h6 class="offertitle m-0">{{o?.title}}</h6>
                            <p><small>{{o?.offer}}</small></p>
                            <button class="btn btn1" type="button">{{o?.btntitle}}</button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>
</div>