hr {
    margin-top: 0rem;
    border-top: 2px solid #5b2067;
    width     : 140px;
}

.offertitle {
    color         : #5b2067;
    font-weight   : bold;
    text-transform: uppercase;
}


.btn1 {
    background: #ff8f10;
    font-size : 14px;
    color     : white;
    width     : 100%;
}

.color {
    color: #5b2067;
}
